.gdpr-cookies {
  color: black;
  background-color: white;
  border: #999 solid 2px;
  border-radius: 7px;
}

.gdpr-cookies strong {
  color: #f55;
}

.gdpr-cookies .button a{
  display: block;
  background-color: #f55;
  color: white;
  border-radius: 2px;
  width: 45px;
  text-align: center;
  margin-top: 5px;
}

.notification-container .gdpr-cookies{
    position: fixed;
    bottom: 0 ;
    right: 0;
    z-index: 1022;
    min-width: 200px;
    width: 20%;
}